html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.redondeado {
    border-radius: 1em;
}

.colorHeadI {
    background-color: rgb(253, 247, 152);
    color: rgb(253, 247, 152);
}